@import "../styles/mixins.scss";


.aproposbody {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
    @media (max-width: 599px) {
        
        padding-left: 50px;
        padding-right: 50px;
        width: 80%;
    }
}
.aproposbody_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
   
}
.article_apropos {
  
    @include boutton;
}
.apropos_button {
    border:none;
    background-color: transparent;
    margin-right: 10px;
}

    
