
.home-banner {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 90%;
    height: 150px;
    border-radius: 20px;
    background-image: url("/Image source 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 599px) {
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }
        .home_text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            @media (max-width: 599px) {
                font-size: 2rem;
                text-align: start;
                padding-left: 20px;
            }
        }
    }
